.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    padding: 0;
}

@media (max-width: 1279px) and (min-width: 321px) {
    .header__logo {
        transform: scale(0.9);
    }
}

@media (max-width: 630px) {
    .header__logo {
        transform: scale(0.75);
        margin-left: 20px;
    }
}