.page {
    background-color: black;
    justify-self: center;
    justify-items: center;
    margin: 0 auto 0;
    max-width: 880px;
}

@media (max-width: 1279px) {
    .page {
        /*margin: 0 150px 0;*/
        max-width: 750px;
    }
}

@media (max-width: 950px) {
    .page {
        max-width: 700px;
    }
}

@media (max-width: 800px) {
    .page {
        max-width: 660px;
    }
}

@media (max-width: 700px) {
    .page {
        margin: 0 25px 0;
    }
}

@media (max-width: 630px) {
    .page {
        margin: 0;
    }
}