.popup__button-close {
    width: 32px;
    height: 32px;
    background: url('../../../images/close.svg');
    border: none;
    position: absolute;
    top: -38px;
    right: -38px;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.6;
    transition: 1s;
}

@media (max-width: 700px) {
    .popup__button-close {
        transform: scale(0.625);
        top: -35px;
        right: -8px;
    }
}

