.profile__avatar {
    width: 120px;
    height: 120px;
    margin: 0 28px 0 0;
    /*border-radius: 50%;*/
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 50%;
    background-image:url('../../../images/avatar.svg');
}

/*.profile__avatar:hover{*/
/*    opacity:0.2;*/
/*}*/
@media (max-width: 700px) {
    .profile__avatar {
        margin: 0 auto 0;
    }
}