.card__like{
    width: 22px;
    height: 19px;
    margin: 5px 0 0;
    background-image: url("../../../images/like.svg");
    cursor: pointer;
    background-position: center;
    border: none;
    background-color: #FFFFFF;
}

.card__like:hover{
    opacity: 0.5;
}
