.profile__add-button {
    margin: 30px 0 0;
    background-color: black;
    padding: 0;
    height: 50px;
    width: 150px;
    background-image: url('../../../../src/images/plus.svg');
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: 1s;
}

@media (max-width: 700px) {
    .profile__add-button {
        width: 282px;
        margin: 33px 0 0;
        background-size: 16px 16px;
    }
}

