@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');
@import url('../src/blocks/page/page.css');
@import url('../src/blocks/header/header.css');
@import url('../src/blocks/header/__logo/header__logo.css');
@import url('../src/blocks/profile/__add-button/profile__add-button.css');
@import url('../src/blocks/profile/__avatar/profile__avatar.css');
@import url('../src/blocks/profile/__info/profile__info.css');
@import url('../src/blocks/profile/profile.css');
@import url('../src/blocks/profile/__edit-button/profile__edit-button.css');
@import url('../src/blocks/profile/__text/profile__text.css');
@import url('../src/blocks/profile/__title/profile__title.css');
@import url('../src/blocks/profile/__subtitle/profile__subtitle.css');
@import url('../src/blocks/popup/popup.css');
@import url('../src/blocks/popup/__container/popup__container.css');
@import url('../src/blocks/popup/__button-close/popup__button-close.css');
@import url('../src/blocks/popup/__title/popup__title.css');
@import url('../src/blocks/popup/__form/popup__form.css');
@import url('../src/blocks/popup/__input/popup__input.css');
@import url('../src/blocks/popup/__button-save/popup__button-save.css');
@import url('../src/blocks/popup/__button-create/popup__button-create.css');
@import url('../src/blocks/main/main.css');
@import url('../src/blocks/card/card.css');
@import url('../src/blocks/card/__image/card__image.css');
@import url('../src/blocks/card/__title/card__title.css');
@import url('../src/blocks/card/__like/card__like.css');
@import url('../src/blocks/card/__like/_active/card__like_active.css');
@import url('../src/blocks/card/__thrash/card__thrash.css');
@import url('../src/blocks/card/__info/card__info.css');
@import url('../src/blocks/footer/footer.css');
@import url('../src/blocks/profile/__description/profile__description.css');
@import url('../src/blocks/header/__link/header__link.css');
@import url('../src/blocks/popup/_opened/popup_opened.css');
@import url('../src/blocks/footer/__text/footer__text.css');
@import url('../src/blocks/popup/_type/popup_type_show.css');
@import url('../src/blocks/popup/__text/popup__text.css');
@import url('../src/blocks/popup/__image/popup__image.css');
@import url('../src/blocks/popup/__image-container/popup__image-container.css');
@import url('../src/blocks/popup/__input/_type/popup__input_type-error.css');
@import url('../src/blocks/popup/__error/popup__error.css');
@import url('../src/blocks/popup/__input-container/popup__input-container.css');
@import url('../src/blocks/popup/__error/_visible/popup__error_visible.css');
@import url('../src/blocks/popup/__button-change/popup__button-change.css');
@import url('../src/blocks/popup/__button-disabled/popup__button-disabled.css');
@import url('../src/blocks/popup/__overlay/popup__overlay.css');
@import url('../src/blocks/card/__likes/card__likes.css');
@import url('../src/blocks/card/__likes-number/card__likes-number.css');
@import url('../src/blocks/popup/__button-confirm/popup__button-confirm.css');
@import url('../src/blocks/card/__thrash/_active/card__thrash_active.css');
@import url('../src/blocks/profile/__avatar-image/profile__avatar-image.css');
@import url('blocks/form/__title/form__title.css');
@import url('blocks/form/form.css');
@import url('blocks/form/__input/form__input.css');
@import url('blocks/form/__container/form__container.css');
@import url('blocks/form/__button/form__button.css');
@import url('blocks/form/__link/form__link.css');
@import url('blocks/popup/__status-image/popup__status-image.css');
@import url('blocks/popup/__status-text/popup__status-text.css');
@import url('blocks/header/__navigation-link/header__navigation-link.css');
@import url('blocks/header/__text/header__text.css');


#root{
    background-color: black;
    min-height: 100vh;
}