.form__input{
    margin: 30px auto 0;
    align-self: center;
    background-color: transparent;
    border-bottom: 2px solid #CCCCCC;
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    width: 358px;

    color: #CCCCCC;
}